In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./data/invoice/invoice.csv')

In [4]:
df1 = pd.read_csv('./data/invoice/invoice-log.csv')

# An√°lise invoice

In [5]:
df.shape

(616422, 13)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616422 entries, 0 to 616421
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             616422 non-null  int64
 1   status         616422 non-null  object
 2   created        616422 non-null  object
 3   nominalAmount  616422 non-null  int64
 4   amount         616422 non-null  int64
 5   due            616422 non-null  object
 6   fine           616422 non-null  float64
 7   interest       616422 non-null  float64
 8   expiration     616422 non-null  object
 9   name           616422 non-null  object
 10  taxId          616422 non-null  object
 11  workspaceId    616422 non-null  int64
 12  brcode         610102 non-null  object
dtypes: float64(2), int64(4), object(7)
memory usage: 61.1+ MB

In [13]:
df.describe()

,id,nominalAmount,amount,fine,interest,workspaceId
count,6.164220e+05,6.164220e+05,6.164220e+05,616422.000000,616422.000000,6.164220e+05
mean,5.628552e+15,4.662002e+05,4.664410e+05,4.887585,2.649226,4.916212e+15
std,6.480662e+14,1.456025e+06,1.457077e+06,2.706585,1.295987,3.067206e+14
min,4.503601e+15,1.000000e+00,0.000000e+00,0.000000,0.000000,4.800539e+15
25%,5.068026e+15,2.914700e+04,2.914700e+04,2.000000,1.357498,4.800539e+15
50%,5.630313e+15,5.901200e+04,5.901150e+04,4.545603,2.574086,4.800539e+15
75%,6.192073e+15,8.905000e+04,8.904975e+04,7.268864,3.786747,4.800539e+15
max,6.755398e+15,5.234578e+07,5.234578e+07,9.999986,4.999995,6.301997e+15

In [14]:
df.head()

,id,status,created,nominalAmount,amount,due,fine,interest,expiration,name,taxId,workspaceId,brcode
0,4678987875876864,created,2024-08-29 15:03:25.194125 UTC,4291554,4291554,2024-08-31 15:03:25.178125 UTC,2.0,1.0,2024-10-29 15:03:25.178125 UTC,Terrance Templeman,131.026.712-09,4800539376222208,00020101021226930014br.gov.bcb.pix2571brcode-h...
1,6508575224496128,created,2024-08-29 15:03:25.193936 UTC,9592736,9592736,2024-08-31 15:03:25.178056 UTC,2.0,1.0,2024-10-29 15:03:25.178056 UTC,Buster Pankratz,701.581.162-67,4800539376222208,00020101021226930014br.gov.bcb.pix2571brcode-h...
2,5382675317653504,created,2024-08-29 15:03:25.193727 UTC,305293,305293,2024-08-31 15:03:25.177985 UTC,2.0,1.0,2024-10-29 15:03:25.177985 UTC,Dong Kenealy,91.863.042/0001-01,4800539376222208,00020101021226930014br.gov.bcb.pix2571brcode-h...
3,5945625271074816,created,2024-08-29 15:03:25.193229 UTC,4659891,4659891,2024-08-31 15:03:25.177911 UTC,2.0,1.0,2024-10-29 15:03:25.177911 UTC,Blythe Shick,99.485.150/0001-08,4800539376222208,00020101021226930014br.gov.bcb.pix2571brcode-h...
4,6227100247785472,created,2024-08-29 15:03:25.193144 UTC,5093695,5093695,2024-08-31 15:03:25.177797 UTC,2.0,1.0,2024-10-29 15:03:25.177797 UTC,Azucena Cella,648.660.170-15,4800539376222208,00020101021226930014br.gov.bcb.pix2571brcode-h...

# An√°lise invoice-log

In [15]:
df1.shape

(1851462, 15)

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1851462 entries, 0 to 1851461
Data columns (total 15 columns):
 #   Column                 Dtype
---  ------                 -----
 0   id                     int64
 1   created                object
 2   invoice_id             int64
 3   invoice_status         object
 4   invoice_created        object
 5   invoice_nominalAmount  int64
 6   invoice_amount         int64
 7   invoice_due            object
 8   invoice_fine           float64
 9   invoice_interest       float64
 10  invoice_expiration     object
 11  invoice_name           object
 12  invoice_taxId          object
 13  invoice_workspaceId    int64
 14  invoice_brcode         object
dtypes: float64(2), int64(5), object(8)
memory usage: 211.9+ MB

In [17]:
df1.describe()

,id,invoice_id,invoice_nominalAmount,invoice_amount,invoice_fine,invoice_interest,invoice_workspaceId
count,1.851462e+06,1.851462e+06,1.851462e+06,1.851462e+06,1.851462e+06,1.851462e+06,1.851462e+06
mean,5.629499e+15,5.628463e+15,4.446035e+05,4.447594e+05,4.903241e+00,2.658118e+00,4.912580e+15
std,6.489378e+14,6.481602e+14,1.412379e+06,1.413104e+06,2.705509e+00,1.293806e+00,3.013358e+14
min,4.503601e+15,4.503601e+15,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.800539e+15
25%,5.068657e+15,5.067836e+15,2.901500e+04,2.901300e+04,2.000000e+00,1.376921e+00,4.800539e+15
50%,5.630696e+15,5.630206e+15,5.870500e+04,5.870400e+04,4.575160e+00,2.587140e+00,4.800539e+15
75%,6.191743e+15,6.191976e+15,8.857600e+04,8.857600e+04,7.282461e+00,3.793285e+00,4.800539e+15
max,6.755399e+15,6.755398e+15,5.234578e+07,5.234578e+07,9.999986e+00,4.999995e+00,6.301997e+15

In [18]:
df1.head()

,id,created,invoice_id,invoice_status,invoice_created,invoice_nominalAmount,invoice_amount,invoice_due,invoice_fine,invoice_interest,invoice_expiration,invoice_name,invoice_taxId,invoice_workspaceId,invoice_brcode
0,5110404925620224,2024-08-29 15:03:33.066217 UTC,5252544972455936,overdue,2024-08-27 15:03:32.277253 UTC,9028505,9028505,2024-08-29 15:03:32.176347 UTC,2.0,1.0,2024-10-27 15:03:32.176347 UTC,Angelyn Tinkler,742.107.333-77,5434930708348928,00020101021226930014br.gov.bcb.pix2571brcode-h...
1,5673354879041536,2024-08-29 15:03:33.066076 UTC,5393282460811264,overdue,2024-08-27 15:03:32.276734 UTC,221720,221720,2024-08-29 15:03:32.176108 UTC,2.0,1.0,2024-10-27 15:03:32.176108 UTC,Zena Kotson,604.697.989-71,5434930708348928,00020101021226930014br.gov.bcb.pix2571brcode-h...
2,4547454972198912,2024-08-29 15:03:33.065973 UTC,5815494925877248,overdue,2024-08-27 15:03:32.277142 UTC,9609608,9609608,2024-08-29 15:03:32.17629 UTC,2.0,1.0,2024-10-27 15:03:32.17629 UTC,Eugena Depalo,125.336.577-60,5434930708348928,00020101021226930014br.gov.bcb.pix2571brcode-h...
3,6693701669617664,2024-08-29 15:03:33.065885 UTC,6237707390943232,overdue,2024-08-27 15:03:32.275345 UTC,5700174,5700174,2024-08-29 15:03:32.175906 UTC,2.0,1.0,2024-10-27 15:03:32.175906 UTC,Simon Gapen,47.527.243/0001-46,5434930708348928,00020101021226930014br.gov.bcb.pix2571brcode-h...
4,5567801762775040,2024-08-29 15:03:33.065801 UTC,6519182367653888,overdue,2024-08-27 15:03:32.276874 UTC,3156770,3156770,2024-08-29 15:03:32.17617 UTC,2.0,1.0,2024-10-27 15:03:32.17617 UTC,Belen Gorsline,485.212.695-01,5434930708348928,00020101021226930014br.gov.bcb.pix2571brcode-h...